<div ng-if="game.monthId" id="{{game.monthId}}"></div>
<div class="card game-small show-on-small hide-on-med-and-up" ng-class="{'home' : game.homeTeam.isWestHam, 'away' : game.awayTeam.isWestHam}">
    <div class="card-title center-align">
        {{game.opponents}}
    </div>
    <div class="card-content">
        <div class="row">
            <div class="col s4 small-game-label">
                Competition
            </div>
            <div class="col s8">
                {{game.competition}}
            </div>
        </div>
        <div class="row">
            <div class="col s4 small-game-label">
                Date
            </div>
            <div class="col s8">
                {{game.datePlayed | customDate:'EEE dth MMM, h:mm!a'}}
            </div>
        </div>
        <div class="row">
            <div class="col s4 small-game-label">
                <div>
                    Tickets
                </div>
            </div>
            <div class="col s8">
                {{game.ticketsDate | customDate:'EEE dth MMM'}}
            </div>
        </div>
        <div class="row">
            <div class="col s4 small-game-label">
                Result
            </div>
            <div class="col s8">
                {{game.homeTeam.score}} - {{game.awayTeam.score}}
            </div>
        </div>
        <div class="row" ng-if="game.showAttended">
            <div class="col s4 small-game-label">
                Attended
            </div>
            <div class="col s8">
                <div class="switch valign" ng-if="game.showAttended">
                    <label>
                        <input type="checkbox" ng-model="game.attended">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-action">
        <a class="right" ng-if="game.ticketsUrl" ng-href="{{game.ticketsUrl | jsonDecode}}" target="_blank">
            Tickets
        </a>
        <a class="right" ng-if="game.matchReport" ng-href="{{game.matchReport | jsonDecode}}" target="_blank">
            Match
        </a>
        <a class="right" ng-if="game.locationUrl" ng-href="{{game.locationUrl | jsonDecode}}" target="_blank">
            Map
        </a>
        <a href="#"></a>
    </div>
</div>

<div class="card hide-on-small-only">
    <div class="card-content">
        <div class="game row valign-wrapper">
            <div class="col s2">
                <div class="valign">
                    <div>{{game.datePlayed | customDate:'EEE dth MMM, h:mm!a'}}</div>
                    <div ng-if="game.ticketsDate">
                        ({{game.ticketsDate | customDate:'EEE dth MMM'}})
                    </div>
                </div>
            </div>
            <div class="col s1 center-align">
                <div ng-if="game.competitionLogo" class="competition competition-logo {{game.competitionLogo}}" title="{{game.competition}}"></div>
                <span ng-if="!game.competitionLogo">{{game.competition}}</span>
            </div>
            <div class="col s7">
                <div class="game-details">
                    <div hc-team-name class="team right-align" team="game.homeTeam"></div>
                    <div class="team-logo {{game.homeTeam.logo}} no-flex" ng-if="game.homeTeam.logo"></div>
                    <!-- Result -->
                    <div ng-if="game.hasResult" class="versus" ng-class="{'withShoot': game.hasShootout}">
                <span class="home">
                    <span ng-class="{'west-ham': game.homeTeam.isWestHam}">{{game.homeTeam.score}}</span>
                </span>
                        <span class="hyphen">-</span>
                <span class="away">
                    <span ng-class="{'west-ham': game.awayTeam.isWestHam}">{{game.awayTeam.score}}</span>
                </span>
                        <div ng-if="game.hasShootout" class="shoot">
                    <span class="home">
                        <span ng-class="{'west-ham': game.homeTeam.isWestHam}">({{game.homeTeam.shootout}}</span>
                    </span>
                            <span class="hyphen">-</span>
                    <span class="away">
                        <span ng-class="{'west-ham': game.awayTeam.isWestHam}">{{game.awayTeam.shootout}})</span>
                    </span>
                        </div>
                    </div>
                    <div ng-if="!game.hasResult" class="versus">v</div>
                    <div class="team-logo {{game.awayTeam.logo}} no-flex" ng-if="game.awayTeam.logo"></div>
                    <div hc-team-name class="team left-align" team="game.awayTeam"></div>
                </div>
            </div>
            <div class="col s2">
                <div class="switch valign right" ng-if="game.showAttended">
                    <label>
                        <input type="checkbox" ng-model="game.attended">
                        <span class="lever"></span>
                    </label>
                </div>
                <!--div ng-if="game.showAttended">
                    <input
                            id="attended-{{game.idx}}" name="attended-{{game.idx}}"
                            value="attended-{{game.idx}}" title="attended" type="checkbox"
                            ng-checked="{{game.attended}}" ng-click="alterAttendance(month, game.idx)">
                </div-->
            </div>
        </div>
    </div>
    <div class="card-action">
        <a class="right" ng-if="game.ticketsUrl" ng-href="{{game.ticketsUrl | jsonDecode}}" target="_blank">
            Tickets
        </a>
        <a class="right" ng-if="game.matchReport" ng-href="{{game.matchReport | jsonDecode}}" target="_blank">
            Match
        </a>
        <a class="right" ng-if="game.locationUrl" ng-href="{{game.locationUrl | jsonDecode}}" target="_blank">
            Map
        </a>
        <a href="#"></a>
    </div>
</div>
