<div class="game row valign-wrapper">
    <div class="col s2">
        <div class="valign">
            {{game.datePlayed | customDate:'EEE dth, h:mm!a'}}
        </div>
    </div>
    <div class="col s1 center-align">
        <div ng-show="game.competitionLogo" class="competition competition-logo {{game.competitionLogo}}" title="{{game.competition}}"></div>
        <span ng-hide="game.competitionLogo">{{game.competition}}</span>
    </div>
    <div class="col s7">
        <div class="game-details">
            <div hc-team-name class="team right-align" team="game.homeTeam"></div>
            <div class="team-logo {{game.homeTeam.logo}} no-flex" ng-show="{{game.homeTeam.logo}}"></div>
            <!-- Result -->
            <div ng-show="game.hasResult" class="versus" ng-class="{'withShoot': game.hasShootout}">
                <span class="home">
                    <span ng-class="{'west-ham': game.homeTeam.isWestHam}">{{game.homeTeam.score}}</span>
                </span>
                <span class="hyphen">-</span>
                <span class="away">
                    <span ng-class="{'west-ham': game.awayTeam.isWestHam}">{{game.awayTeam.score}}</span>
                </span>
                <div ng-show="game.hasShootout" class="shoot">
                    <span class="home">
                        <span ng-class="{'west-ham': game.homeTeam.isWestHam}">({{game.homeTeam.shootout}}</span>
                    </span>
                    <span class="hyphen">-</span>
                    <span class="away">
                        <span ng-class="{'west-ham': game.awayTeam.isWestHam}">{{game.awayTeam.shootout}})</span>
                    </span>
                </div>
            </div>
            <div ng-hide="game.hasResult" class="versus">v</div>
            <div class="team-logo {{game.awayTeam.logo}} no-flex" ng-show="{{game.awayTeam.logo}}"></div>
            <div hc-team-name class="team left-align" team="game.awayTeam"></div>
        </div>
    </div>
    <div class="col s2">
        <div class="switch valign">
            <label>
                <input type="checkbox">
                <span class="lever"></span>
            </label>
        </div>
        <div ng-show="{{game.showAttended}}">
            <input
                    id="attended-{{game.idx}}" name="attended-{{game.idx}}"
                    value="attended-{{game.idx}}" title="attended" type="checkbox"
                    ng-checked="{{game.attended}}" ng-click="alterAttendance(month, game.idx)">
        </div>
    </div>
</div>
