<!-- top navigation -->
<div id="topnav" class="navbar-fixed">
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="page-title hide-on-small-only">Hammers Calendar</a>
                <a href="#!" class="page-title show-on-small hide-on-med-and-up">WHU Cal</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Search" ng-model="search" ng-trim="true">
                                <label for="search"><i class="material-icons mdi-action-search"></i></label>
                                <i class="material-icons mdi-navigation-close"></i>
                            </div>
                        </form>
                    </li>
                    <li ng-if="authenticationLink">
                        <a ng-if="user" ng-href="{{authenticationLink}}">Logout {{user}}</a>
                        <a ng-if="!user" ng-href="{{authenticationLink}}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- nav button -->
        <div class="container">
            <a href="#"
               class="button-collapse top-nav full hide-on-large-only"
               data-activates="nav-mobile" data-sidenav="left" data-menuwidth="240" data-closeonclick="false">
                <i class="material-icons mdi-navigation-menu"></i>
            </a>
        </div>
    </nav>
</div>
<!-- side nav -->
<ul id="nav-mobile" class="side-nav fixed">
    <!--Maybe a logo?-->
    <li class="logo hide-on-med-and-down" style="margin-left: -15px;">
        <a id="logo-container" href="http://materializecss.com/" class="brand-logo">
            <h3>Logo</h3>
        </a>
    </li>

    <li class="hide-on-large-only" ng-if="authenticationLink">
        <a ng-if="user" ng-href="{{authenticationLink}}">Logout {{user}}</a>
        <a ng-if="!user" ng-href="{{authenticationLink}}">Login</a>
    </li>
    <li class="hide-on-large-only">
        <form>
            <div class="input-field">
                <input id="search-side" type="search" placeholder="Search" ng-model="search" ng-trim="true">
                <label for="search-side"><i class="material-icons mdi-action-search"></i></label>
                <i class="material-icons mdi-navigation-close"></i>
            </div>
        </form>
    </li>
    <li ng-repeat="month in months | opponents:search" class="bold">
        <a ng-click="scrollToMonth('topnav', month)" class="waves-effect waves-teal">{{month.date | customDate:'MMMM'}}</a>
    </li>


</ul>
