<!-- top navigation -->
<div id="topnav" class="navbar-fixed">
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#!" class="page-title hide-on-small-only">Hammers Calendar</a>
                <a href="#!" class="page-title show-on-small hide-on-med-and-up">WHU Cal</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="season-dropdown" hc-nav-dropdown>
                            {{currentSeason.season}} / {{currentSeason.season + 1}}
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="season-dropdown" class="dropdown-content">
                            <li ng-repeat="season in seasons track by season.season">
                                <a ng-click="alterSeason(season)">{{season.season}} / {{season.season + 1}}</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="tickettype-dropdown" hc-nav-dropdown>
                            {{currentTicketType.label}} sale date<i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="tickettype-dropdown" class="dropdown-content">
                            <li ng-repeat="ticketType in ticketTypes">
                                <a ng-click="alterTicketType(ticketType)">{{ticketType.label}} sale date</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="opponents-dropdown" hc-nav-dropdown>
                            <span ng-if="currentOpponents">{{currentOpponents}}</span><span ng-if="!currentOpponents">Opponents</span> <i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <ul id="opponents-dropdown" class="dropdown-content">
                            <li ng-repeat="opponents in possibleOpponents | orderBy:'+'">
                                <a ng-click="alterOpponents(opponents)">{{opponents}}</a>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="authenticationLink">
                        <a ng-if="user" ng-href="{{authenticationLink}}">Logout {{user}}</a>
                        <a ng-if="!user" ng-href="{{authenticationLink}}">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- nav button -->
        <div class="container">
            <a href="#"
               class="button-collapse top-nav full hide-on-large-only"
               data-activates="nav-mobile" data-sidenav="left" data-menuwidth="240" data-closeonclick="false">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>
<!-- side nav -->
<ul id="nav-mobile" class="side-nav fixed">
    <!--Maybe a logo?-->
    <li class="logo hide-on-med-and-down" style="margin-left: -15px;">
        <a id="logo-container" href="#" class="brand-logo">
            <i class="material-icons large">alarm</i>
        </a>
    </li>

    <li class="hide-on-large-only" ng-if="authenticationLink">
        <a ng-if="user" ng-href="{{authenticationLink}}">Logout {{user}}</a>
        <a ng-if="!user" ng-href="{{authenticationLink}}">Login</a>
    </li>
    <li class="hide-on-large-only">
        <select class="browser-default"
                ng-options="season as season.season for season in seasons | orderBy:'-season' track by season.season"
                ng-model="currentSeason"
                ng-change="alterSeason(currentSeason)">
        </select>
    </li>
    <li class="hide-on-large-only">
        <select class="browser-default"
                ng-options="ticketType as ticketType.label for ticketType in ticketTypes track by ticketType.key"
                ng-model="currentTicketType"
                ng-change="alterTicketType(currentTicketType)">
        </select>
    </li>
    <li class="hide-on-large-only">
        <select class="browser-default"
                ng-options="opponents as opponents for opponents in possibleOpponents"
                ng-model="currentOpponents"
                ng-change="alterOpponents(currentOpponents)">
            <option value="" disabled>Opponents</option>
        </select>
    </li>
    <li ng-repeat="month in currentSeason.months track by month.id" class="bold">
        <a ng-click="alterMonth(month)" class="waves-effect">
            {{month.date | customDate:'MMMM'}}
            <span class="badge">{{month.games.length}}</span>
        </a>
    </li>
</ul>
