.main-table td, .main-table th {
  vertical-align: middle;
  border-top: none; 
}

.label-month {
  width: 100%; 
  font-size: larger; 
  background-color: #801638; 
  padding: 8px;
}

/* Add top padding for navbar-top-fixed */
body {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* Remove top padding when top navbar goes static in narrow viewports */
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}