$primary-color: #892D42;
$primary-color-light: false !default;
$primary-color-dark: false !default;

$secondary-color: #5299C6;

$card-link-color: $primary-color;

//$success-color: color("green", "base");
//$error-color: color("red", "base");

//$link-color: color("light-blue", "darken-1");