// Overridden colours
@import "colours";

.game-small {
  &.home {
    //background-color: $primary-color;
    .card-action {
      a:not(.btn):not(.btn-large):not(.btn-floating) {
        color: $secondary-color;
        &:hover {
          color: lighten($secondary-color, 20%);
        }
      }
    }
  }
  &.away {
    //background-color: $secondary-color;
    .switch label input[type=checkbox]:checked + .lever:after {
      background-color: $primary-color;
    }
  }
  .row {
    margin-bottom: 0;
  }

  a {
    width: 100%;
    color: inherit;
  }
}

.small-game-label {
  text-align: right;
}