// Overridden colours
@import "colours";

// Materialise CSS
$roboto-font-path: "/assets/bower_components/materialize/fonts/roboto/";
@import "../../../public/bower_components/materialize/sass/materialize";

@import "loading";
@import "custom";
@import "game";
@import "small-game";

.no-flex {
  flex: none;
}

.west-ham {
  color: $primary-color
}

.month-title {
  background-color: $secondary-color;
  text-indent: 15px;
  color: white;
}

.top-nav .container {
  @media #{$large-and-up} {
    margin-left: 15px;
  }
}

// Angular cloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}