<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd"
	default-autowire="byName">

	<bean id="mainUpdateService"
		class="uk.co.unclealex.hammers.calendar.update.MainUpdateServiceImpl" />

	<bean id="updateRunnable" class="uk.co.unclealex.hammers.calendar.update.UpdateRunnable"/>

	<bean id="abstractUpdateCalendarJob" class="uk.co.unclealex.hammers.calendar.update.UpdateCalendarJob"
		init-method="initialise" destroy-method="destroy" abstract="true">
		<property name="runnable">
			<bean class="uk.co.unclealex.hammers.calendar.update.TransactionalRunnableDelegate">
				<property name="runnable" ref="updateRunnable"/>	
			</bean>
		</property>
	</bean>

</beans>
