<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd"
	default-autowire="byName">

	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="256"/>
  </bean>
	
	<bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<property name="userPropertyToUse" value="username"/>
	</bean>

	<bean id="userService" class="uk.co.unclealex.hammers.calendar.auth.UserServiceImpl"/>
	<bean id="tokenService" class="uk.co.unclealex.hammers.calendar.auth.TokenServiceImpl"/>
	<bean id="authenticationService" class="uk.co.unclealex.hammers.calendar.auth.AuthenticationServiceImpl"/>

  <sec:authentication-manager alias="authenticationManager">
    <sec:authentication-provider>
	    <sec:jdbc-user-service data-source-ref="dataSource"/>
	    <sec:password-encoder ref="passwordEncoder">
  			<sec:salt-source ref="saltSource"/>
			</sec:password-encoder>
    </sec:authentication-provider>
	</sec:authentication-manager>

</beans>
