<!DOCTYPE html>
<html lang="en" ng-app="hammers-calendar">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>West Ham Calendar</title>

            <!-- Bootstrap -->
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

        <![endif]-->
    </head>
    <body ng-controller="calendarCtrl">
        <div id="nav"></div>

        <div class="container-fluid">
            <div class="row">
                <div id="sidebar" class="col-sm-3 col-md-2 sidebar">
                </div>
                <div id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                </div>
            </div>
        </div>

        <script src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
        <script src="@routes.Assets.at("lib/angularjs/angular.js")"></script>
        <script src="@routes.Assets.at("lib/bootstrap/dist/js/bootstrap.js")"></script>

        @playscalajs.html.scripts("js", "/assets")

    </body>
</html>