<!doctype html>
<html ng-app="hammersCalendar">
    <head>
        <title>West Ham Calendar</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.min.css")">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="@routes.Sprites.teamCss()">
        <link rel="stylesheet" href="@routes.Sprites.competitionCss()">
    </head>

    <body ng-controller="CalendarController">

        <div ng-if="loading" class="load">
            <div class="dot"></div>
            <div class="outline"><span></span></div>
        </div>

        <hc-app ng-cloak ng-if="!loading"></hc-app>

        <script src="@routes.Assets.at("libs.js")"></script>
        @playscalajs.html.scripts("js", "/assets")
    </body>
</html>
