<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>West Ham Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Alex Jones">

    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-sanitize.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-animate.min.js'></script>
    <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-touch.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js'></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script type="text/javascript" src="@routes.Application.constants"></script>
    @scripts = @{ /*if (play.Play.isProd()) Seq("calendar.min") else */Seq("calendar", "attendance", "navigation", "season", "game") }
    @for(script <- scripts) {
    <script type="text/javascript" src='@routes.Assets.at("javascripts/" + script + ".js")'></script>
    }

    <!-- Styles -->
    <link href='//netdna.bootstrapcdn.com/bootswatch/3.1.0/cyborg/bootstrap.min.css' rel="stylesheet">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel="stylesheet">

    <link href='@routes.Assets.at("stylesheets/calendar.css")' rel="stylesheet">
  </head>

  <body ng-app="calendar">
  <navigation></navigation>
  <div class="container">
    <div ng-view></div>
  </div>
</body>
</html>
