<table class="table table-hover table-condensed">
  <tbody>
    <tr>
      <th>Date</th>
      <th>Opponents</th>
      <th>Competition</th>
      <th>Location</th>
      <th>Result</th>
      <th>Tickets</th>
      <th>Attended</th>
    </tr>
    <tr ng-repeat="game in games" class="row-{{game.type}}">
      <td ng-show="game.type == 'month'" colspan="7">
        {{game.month}}
      </td>
      <td ng-hide="game.type == 'month'">
        <span 
          ng-show="game.gameTimeType.value == 'ThreePmSaturday'"
          class="badge badge-success" 
          title="Rejoice for a game at 3pm on a Saturday!">
          {{game.at | customDate}}
        </span>
        <span 
          ng-show="game.gameTimeType.value == 'Weekday'"
          class="badge badge-important" 
          title="This game is being played on a weekday">
          {{game.at | customDate}}
        </span>
        <span 
          ng-show="game.gameTimeType.value == 'Weekend'" 
          class="badge badge-warning" 
          title="This game is being played during the weekend but not at 3pm on a Saturday">
          {{game.at | customDate}}
        </span>
      </td>
      <td ng-hide="game.type == 'month'">{{game.opponents}}</td>
      <td ng-hide="game.type == 'month'">{{game.competition.name}}</td>
      <td ng-hide="game.type == 'month'">
        <span ng-hide="game.geoLocation">{{game.location.persistableToken}}</span>
        <a ng-show="game.geoLocation" href="{{game.geoLocation.url}}" target="_blank">{{game.location.persistableToken}}</a>
      </td>
      <td ng-hide="game.type == 'month'">
        <span ng-show="game.result &amp;&amp !game.matchReport">{{game.result}}</span>
        <a ng-show="game.result &amp;&amp; game.matchReport" href="{{game.matchReport}}" target="_blank">{{game.result}}</a>
      </td>
      <td ng-hide="game.type == 'month'">{{game.ticketsAt  | customDate:true}}</td>
      <td ng-hide="game.type == 'month'">
        <button ng-show="game.attended" type="button"
          class="btn btn-success" 
          ng-model="game.attended"
          ng-click="unattendGame(game)"
          btn-checkbox 
          btn-checkbox-true="true" btn-checkbox-false="false">
          <i class="icon-ok"></i>
        </button>
        <button ng-hide="game.attended" type="button"
          class="btn btn-danger" 
          ng-model="game.attended" 
          ng-click="attendGame(game)"
          btn-checkbox 
          btn-checkbox-true="true" btn-checkbox-false="false">
          <i class="icon-remove"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>