<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
			 http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	default-autowire="byName">

	<context:annotation-config />
	
  <bean id="dataSource" class="uk.co.unclealex.hammers.calendar.server.spring.DatasourceFactory">
    <property name="jndiName" value="jdbc/hammers"/>
    <property name="derbyDb" value="jdbc:derby:db"/>
  </bean>

	<tx:annotation-driven/>

	<bean id="hibernateProperties"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="properties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.show_sql">false</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="annotatedClasses">
			<list>
				<value>uk.co.unclealex.hammers.calendar.server.model.Game</value>
				<value>uk.co.unclealex.hammers.calendar.server.model.User</value>
				<value>uk.co.unclealex.hammers.calendar.server.model.Authority</value>
				<value>uk.co.unclealex.hammers.calendar.server.model.OauthToken</value>
				<value>uk.co.unclealex.hammers.calendar.server.model.CalendarConfiguration</value>
				<value>uk.co.unclealex.hammers.calendar.server.model.TicketingCalendar</value>
			</list>
		</property>
	</bean>

	<bean id="dateService" class="uk.co.unclealex.hammers.calendar.server.service.DateServiceImpl"/>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"/>

	<bean id="htmlDocumentService" class="uk.co.unclealex.hammers.calendar.server.html.HtmlDocumentServiceImpl"/>
	
	<bean id="urlExtractorService" class="uk.co.unclealex.hammers.calendar.server.html.UrlExtractorServiceImpl">
		<property name="homePage" value="http://www.whufc.com/page/Home"/>
	</bean>
	
	<bean id="fixtureTableExtractorService" class="uk.co.unclealex.hammers.calendar.server.html.JdomFixtureTableExtractorService"/>
	
	<bean id="onlineFixtureBuilderService" class="uk.co.unclealex.hammers.calendar.server.html.OnlineFixtureBuilderService">
		<property name="decorators">
			<list>
				<bean class="uk.co.unclealex.hammers.calendar.server.html.TicketDecorator">
					<property name="ticketOfficeOpeningHour" value="9"/>
				</bean>
				<bean class="uk.co.unclealex.hammers.calendar.server.html.SkySportsDecorator"/>
			</list>
		</property>
	</bean>
	
	<bean id="daoFixtureBuilderService" class="uk.co.unclealex.hammers.calendar.server.html.DaoFixtureBuilderService"/>
	
	<bean id="gameBuilderActionFactory" class="uk.co.unclealex.hammers.calendar.server.html.builder.SpringGameBuilderActionFactory"/>
	<bean id="singleGameBuilderAction" class="uk.co.unclealex.hammers.calendar.server.html.builder.SingleGameBuilderAction"
		scope="prototype"/>
	
	<bean id="monthBuilderAction" class="uk.co.unclealex.hammers.calendar.server.html.builder.MonthBuilderAction"
		scope="prototype"/>

	<bean id="gameDao" class="uk.co.unclealex.hammers.calendar.server.dao.HibernateGameDao"/>
	<bean id="gameService" class="uk.co.unclealex.hammers.calendar.server.service.GameServiceImpl"/>

	<util:map id="googleCalendarsByCalendarType">
		<entry key="ATTENDED">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.AttendedGoogleCalendar">
				<property name="calendarTitle" value="West Ham (Attended)"/>
				<property name="description" value="West Ham games I attended."/>
				<property name="durationInHours" value="2"/>
			</bean>
		</entry>
		<entry key="UNATTENDED">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.UnattendedGoogleCalendar">
				<property name="calendarTitle" value="West Ham (Unattended)"/>
				<property name="description" value="West Ham games I did not attend."/>
				<property name="durationInHours" value="2"/>
			</bean>
		</entry>
		<entry key="HOME">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.HomeGoogleCalendar">
				<property name="calendarTitle" value="West Ham (Home)"/>
				<property name="description" value="Home West Ham games."/>
				<property name="durationInHours" value="2"/>
			</bean>
		</entry>
		<entry key="AWAY">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.AwayGoogleCalendar">
				<property name="calendarTitle" value="West Ham (Away)"/>
				<property name="description" value="Away West Ham games."/>
				<property name="durationInHours" value="2"/>
			</bean>
		</entry>
		<entry key="ALL">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.HomeAndAwayGoogleCalendar">
				<property name="calendarTitle" value="West Ham (Home and Away)"/>
				<property name="description" value="All West Ham games."/>
				<property name="durationInHours" value="2"/>
			</bean>
		</entry>
		<entry key="TELEVISED">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.TelevisedGoogleCalendar">
				<property name="calendarTitle" value="West Ham (Televised)"/>
				<property name="description" value="Televised West Ham games."/>
				<property name="durationInHours" value="2"/>
			</bean>
		</entry>
		<entry key="TICKETS_GENERAL_SALE">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.GeneralSaleGoogleCalendar">
				<property name="calendarTitle" value="West Ham Tickets (General Sale)"/>
				<property name="description" value="West Ham ticket general sale dates."/>
				<property name="durationInHours" value="1"/>
			</bean>
		</entry>
		<entry key="TICKETS_ACADEMY">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.AcademyGoogleCalendar">
				<property name="calendarTitle" value="West Ham Tickets (Academy Members)"/>
				<property name="description" value="West Ham ticket selling dates for academy members."/>
				<property name="durationInHours" value="1"/>
			</bean>
		</entry>
		<entry key="TICKETS_SEASON">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.SeasonTicketGoogleCalendar">
				<property name="calendarTitle" value="West Ham Tickets (Season Ticket Holders)"/>
				<property name="description" value="West Ham ticket selling dates for season ticket holders."/>
				<property name="durationInHours" value="1"/>
			</bean>
		</entry>
		<entry key="TICKETS_PRIORITY">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.PriorityPointGoogleCalendar">
				<property name="calendarTitle" value="West Ham Tickets (Priority Point Holders)"/>
				<property name="description" value="West Ham ticket selling dates for priority point holders."/>
				<property name="durationInHours" value="1"/>
			</bean>
		</entry>
		<entry key="TICKETS_BONDHOLDERS">
			<bean class="uk.co.unclealex.hammers.calendar.server.google.BondHolderGoogleCalendar">
				<property name="calendarTitle" value="West Ham Tickets (Bondholders)"/>
				<property name="description" value="West Ham ticket selling dates for bondholders."/>
				<property name="durationInHours" value="1"/>
			</bean>
		</entry>
	</util:map>
	
	<bean id="googleCalendarService" class="uk.co.unclealex.hammers.calendar.server.service.GoogleCalendarServiceImpl">
	 <property name="publishedCalendarIds">
	   <list>
       <value>pf4f1vat7io0iicsefduo02e7k%40group.calendar.google.com</value>
       <value>gn6t63cv72p8od3dhdrvqkvpug%40group.calendar.google.com</value>
       <value>709a8qimgsjhj7aq87b4ofd3s0%40group.calendar.google.com</value>
       <value>k7b6psuhbqueaaqtcfglvjk3gc%40group.calendar.google.com</value>
       <value>tt7o01aoihprtiau5283cu8r60%40group.calendar.google.com</value>
       <value>6mkgld1nke52okp5nlm8rgsm28%40group.calendar.google.com</value>
       <value>cnitefp2m9epk0prt2fgr9tvro%40group.calendar.google.com</value>
       <value>kb2nn05vhvmmt9rcdd8arkj0jg%40group.calendar.google.com</value>
       <value>sl4gtp1o2a8nf8jlcbo4n237k4%40group.calendar.google.com</value>
	   </list>
	 </property>
	</bean>
	
	<bean id="userDao" class="uk.co.unclealex.hammers.calendar.server.dao.HibernateUserDao"/>
	<bean id="calendarConfigurationDao" class="uk.co.unclealex.hammers.calendar.server.dao.HibernateCalendarConfigurationDao"/>
	<bean id="oauthTokenDao" class="uk.co.unclealex.hammers.calendar.server.dao.HibernateOauthTokenDao"/>
	<bean id="ticketingCalendarDao" class="uk.co.unclealex.hammers.calendar.server.dao.HibernateTicketingCalendarDao"/>
	
	<bean id="defaultsService" class="uk.co.unclealex.hammers.calendar.server.service.DefaultsServiceImpl">
		<property name="defaultUsername" value="admin"/>
		<property name="defaultPassword" value="admin"/>
		<property name="defaultCalendarConfigurations">
			<list>
				<bean class="uk.co.unclealex.hammers.calendar.server.model.CalendarConfiguration">
					<property name="calendarType" value="ATTENDED"/>
					<property name="busy" value="true"/>
					<property name="shared" value="false"/>
					<property name="colour" value="PLUM"/>
					<property name="selected" value="true"/>
				</bean>
				<bean class="uk.co.unclealex.hammers.calendar.server.model.CalendarConfiguration">
					<property name="calendarType" value="UNATTENDED"/>
					<property name="busy" value="false"/>
					<property name="shared" value="false"/>
					<property name="colour" value="ST_TROPAZ"/>
					<property name="selected" value="true"/>
				</bean>
			</list>
		</property>
	</bean>

	<bean id="tokenService" class="uk.co.unclealex.hammers.calendar.server.service.TokenServiceImpl"/>
	
	<bean id="httpTransport" class="com.google.api.client.http.javanet.NetHttpTransport"/>
	<bean id="jsonFactory" class="com.google.api.client.json.jackson.JacksonFactory"/>
	
	<bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.ShaPasswordEncoder">
		<constructor-arg value="256"/>
  </bean>
	
	<bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<property name="userPropertyToUse" value="username"/>
	</bean>
	
	<bean id="userService" class="uk.co.unclealex.hammers.calendar.server.service.UserServiceImpl"/>
	
	<bean id="attendanceService" class="uk.co.unclealex.hammers.calendar.server.service.AttendanceServiceImpl" scope="prototype"/>
	<bean id="calendarConfigurationService" class="uk.co.unclealex.hammers.calendar.server.service.CalendarConfigurationServiceImpl"/>
	
	<bean id="updateCalendarJob" class="uk.co.unclealex.hammers.calendar.server.scheduling.UpdateCalendarJob" init-method="initialise" destroy-method="destroy">
		<property name="cronString" value="	0 0 * * * ?"/>
	</bean>
</beans>
