<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Web site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Web site" />
    <meta name="description" content="Site description here" />
    <meta name="keywords" content="keywords here" />
    <meta name="language" content="en" />
    <meta name="subject" content="Site subject here" />
    <meta name="robots" content="All" />
    <meta name="copyright" content="Your company" />
    <meta name="abstract" content="Site description here" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <link id="theme" rel="stylesheet" type="text/css" href="style.css" title="theme" />
  </head>
  <body> 
    <div id="wrapper"> 
      <div id="bg"> 
        <div id="header"></div>  
        <div id="page"> 
          <div id="container"> 
            <!-- banner -->  
            <div id="banner"></div>  
            <!-- end banner -->  
            <!-- horizontal navigation -->  
            <div id="nav1"> 
              <ul>
                <li id="current" style="border:none">
                  <a href="#" shape="rect">Home</a>
                </li>
                <li>
                  <a href="#" shape="rect">Products</a>
                </li>
                <li>
                  <a href="#" shape="rect">Services</a>
                </li>
                <li>
                  <a href="#" shape="rect">News</a>
                </li>
                <li>
                  <a href="#" shape="rect">About</a>
                </li>
              </ul> 
            </div>  
            <!-- end horizontal navigation -->  
            <!--  content -->  
            <div id="content"> 
              <div id="center"> 
                <div id="welcome"> 
                  <h3>LICENSE</h3>  
                  <p>This template is free. You are free to use it, share it, redistribute it, modify it in any way you want as long as you 
                    <strong>keep a link back to doTemplate Website</strong> in the footer. You can remove this link by making a $10 
                    <a href="http://www.dotemplate.com/dt/index.jsp#donate" target="_blank" shape="rect">donation</a>.
                  </p>  
                  <h1>Title 1</h1>  
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>  
                  <div> 
                    <img src="images/phones-1.jpg" style="float:left;margin:0px 50px 20px 0;padding:5px;border:none" />  
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</p> 
                  </div>  
                  <h2>Title 2</h2>  
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>  
                  <h3>Title 3</h3>  
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>  
                  <p style="clear:both" /> 
                </div> 
              </div>  
              <div id="right"> 
                <div id="sidebar"> 
                  <h3>Categories</h3>  
                  <ul class="vmenu">
                    <li>
                      <a href="#" shape="rect">Category 1</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 2</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 3</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 4</a>
                    </li>
                    <li>
                      <a href="#" shape="rect">Category 5</a>
                    </li>
                  </ul>  
                  <h3 style="margin-top:40px">News</h3>  
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi.</p>  
                  <div style="font-weight:bold;margin-top:20px">Call us : 00-123-456-789</div>  
                  <div style="text-align:center;margin:20px 0"> 
                    <img src="images/mac-1_128.jpg" /> 
                  </div> 
                </div> 
              </div>  
              <div class="clear" style="height:40px"></div> 
            </div>  
            <!-- end content --> 
          </div>  
          <!-- end container --> 
        </div>  
        <div id="footerWrapper"> 
          <div id="footer"> 
            <p style="padding-top:10px"> 
              <!--
THIS TEMPLATE IS FREE IF YOU DO NOT REMOVE OR MODIFY THE FOLLOWING LINK. 
TO REMOVE THIS LINK, PLEASE MAKE A $10 DONATION AT www.dotemplate.com.
-->  
              <a href="http://www.dotemplate.com" shape="rect">Template</a> created with doTemplate.
            </p> 
          </div> 
        </div> 
      </div> 
    </div> 
  </body>
</html>
